<div id="form">
    <div id="formHeader">
         <app-form-header [option]="'Acompañante'"></app-form-header> 
    </div>

    <div id="formBody">
        <form (ngSubmit)="onSubmit()">
        <div class="inputField">
            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" [(ngModel)]="currentCompanion.nombre" name="nombre" required />
        </div>

        <div class="inputField">
            <label for="ciudad">Ciudad:</label>
            <input id="ciudad" type="text" [(ngModel)]="currentCompanion.ciudad" name="ciudad" required />
        </div>

        <div class="inputField">
            <label for="sexo">Sexo:</label>
            <input id="sexo" type="text" [(ngModel)]="currentCompanion.sexo" name="sexo" required />
        </div>

        <div class="inputField">
            <label for="edad">Edad:</label>
            <input id="edad" type="text" [(ngModel)]="currentCompanion.edad" name="edad" required />
        </div>

        <div class="inputField">
            <label for="estatura">Estatura:</label>
            <input id="estatura" type="text" [(ngModel)]="currentCompanion.estatura" name="estatura" required />
        </div>

        <div class="inputField">
            <label for="peso">Peso:</label>
            <input id="peso" type="text" [(ngModel)]="currentCompanion.peso" name="peso" required />
        </div>

        <div class="inputField">
            <label for="complexion">Complexion:</label>
            <input id="complexion" type="text" [(ngModel)]="currentCompanion.complexion" name="complexion" required />
        </div>

        <div class="inputField">
            <label for="piel">Color de piel:</label>
            <input id="piel" type="text" [(ngModel)]="currentCompanion.piel" name="piel" required />
        </div>

        <div class="inputField">
            <label for="cabello">Color de cabello:</label>
            <input id="cabello" type="text" [(ngModel)]="currentCompanion.cabello" name="cabello" required />
        </div>

        <div class="inputField">
            <label for="orientacion">Orientación sexual:</label>
            <input id="orientacion" type="text" [(ngModel)]="currentCompanion.orientacion" name="orientacion" required />
        </div>

        <button type="submit">Guardar</button>
        
        </form>
    </div>

</div>